.App {
  margin: 0;
}

header a{
  color: blue;
  display: flex;
  flex-direction: column;
}

main a{
  color: blue;
  display: flex;
  flex-direction: column;
}

center {
  background-color: #fef9c3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
